html {
  scroll-behavior: smooth;
}

.competition__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.competition__header_intro {

}
.competition__header_btn > button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
.competition__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.competition__content_table {
 flex: 1;
 
}
.competition__content_rules {
  flex: 2 ;
}
.table-diemso{
  flex: 1;
  width: 80%;
}
.competition__content_table > div {
  width: 90%;
}

.competition__room {
  position: relative;
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.competition__room_info {
  flex: 1;
}
.competition__room_keyboard {
  flex: 2;
}

a{
  text-decoration: none;
  color: #fff;
}

.competition__solo_header{
  position: relative;
  display: flex;
  flex-direction: row;

}
.competition__solo_title {
  text-align: center;
}
.competition__solo_title h1 {
  color: forestgreen;
  font-weight: 400;
}

.competition_solo_people {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.competition__solo {
  margin-top: 30px;
}
.competition_solo_exam {
  text-align: center;
}
.competition__solo_info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.table-diemso {
  
}

.avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

